@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-bg-gray: #1a1a1a;
  --color-hero-gray: #0d0d0d;
  --color-nooro-gray: #808080;
  --color-nooro-input-gray: #262626;
  --color-nooro-light-gray: #d9d9d9;
  --color-nooro-blue: #4ea8de;
  --color-nooro-dark-blue: #1e6f9f;
  --color-nooro-purple: #8284fa;
  --font-sans: var(--font-inter), system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, sans-serif;
}
